body {
    background-color: #DFF;
}
li { list-style: none; }
a { text-decoration: none; }

#top {
    position: fixed;
    float: right;
    right: 10px;
    top: 15px;
}

nav {
    float: right;
}
.nav-items {
    margin-right: 20px;
}
.nav-items > li {
    display: inline-block;  /* 가로정렬 */
}
.nav-items > li > a {
    /* for Vertical Centering */
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    background-color: aquamarine;
}
.nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(125, 207, 179);
}



.drag_drop {
    border: 3px solid darkgray;
}

table, td, th {
    border-collapse: collapse;
    border:1px solid black;
    text-align: center;
    color: #949494;
}
th {
    width: 1.5em;
    background-color: #CCC;
}
td {
    background-color: #e7e4e2;
}


/* textarea {
    width: "100%";
} */
sub {
    color: rgb(111, 116, 106);
}
.comment {
    color: lightgray;
}
.stream_input {
    /* margin-top: 40px; */
    padding: 40px;
}
.action_link {
    background-color: lightblue;
    border-radius: 20px;
    padding: 8px;
}
.action_link:hover {
    background-color: rgb(145, 171, 180);
}
.result td {
    color: darkblue;
}
.result {
    padding: 20px;
    border: 1px solid blueviolet;
}



#optional_field_detail {
    margin: 2em;
}
#read_offset {
    width: 5em;
}

